@import url('https://fonts.googleapis.com/css2?family=BIZ+UDMincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDMincho&family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDMincho&family=DM+Serif+Display&family=Josefin+Slab:wght@100&display=swap');


body{
font-family: 'Josefin Slab', serif;
}


@media (min-width: 600px){
body{
    font-family: 'BIZ UDMincho', serif;
    } 
}

@media (min-width: 960px){
    body{
        font-family: 'DM Serif Display', serif;
    } 
}
    
